/*FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400&family=Hind:wght@400;700&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Roboto:wght@400;500&display=swap");
/*MIXIN*/
/* TITULOS DE TODOS LOS HTML*/
.titulo {
  text-align: center;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  color: white;
  padding-top: 120px;
  font-size: 5rem;
}

/*RESPONSIVE*/
@media screen and (min-width: 250px) and (max-width: 884px) {
  .titulo {
    font-size: 2rem;
  }
}
/*NAV*/
.posicionHeader {
  position: fixed;
  width: 100%;
}

.logoCuartel {
  width: 9%;
}

.backNav {
  width: 100%;
}
.backNav .listaItems .tipografiaAnclas {
  color: white !important;
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.backNav .listaItems .tipografiaAnclas:hover {
  color: orange !important;
}
.backNav .listaItems .tipografiaAnclas:active {
  color: white !important;
  text-shadow: 0px 0px 19px rgba(255, 169, 48, 0.98);
}
.backNav .listaItems .inicio {
  color: orange !important;
}
.backNav .listaItems .nosotros {
  color: orange !important;
}
.backNav .listaItems .unite {
  color: orange !important;
}
.backNav .listaItems .galeria {
  color: orange !important;
}
.backNav .listaItems .colabora {
  color: orange !important;
}

@media screen and (min-width: 250px) and (max-width: 884px) {
  /**HEADER RESPONSIVE*/
  .contenedorNav {
    width: 100%;
    display: inline-block;
  }
  .navbar-brand {
    margin: 0;
  }
  .contenedorLogo {
    margin-left: 10px;
  }
  .logoCuartel {
    width: 40px;
  }
  .contenedorListaItems {
    padding-top: 20px;
  }
  .tipografiaAnclas {
    text-align: right;
  }
}
/*INDEX*/
.backgroundMain {
  background-image: url(../assets/img/fondoBombero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
  background-attachment: fixed;
}
.backgroundMain .tituloMain, .backgroundMain .subtituloMain {
  font-family: "Hind", sans-serif;
  font-size: 7rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 200px;
}
.backgroundMain .subtituloMain {
  font-size: 4rem;
  color: white;
  margin-top: 10px;
  text-align: center;
  padding-top: 20px;
}

.contenedorVideo {
  width: 100%;
  object-fit: cover;
}
.contenedorVideo .videoBomberos {
  width: 50%;
  border-radius: 20px;
  box-shadow: -1px 2px 30px 11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 2px 30px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 30px 11px rgba(0, 0, 0, 0.75);
  /*usando transiciones en el index*/
  transition: transform 0.5s ease-in;
}
.contenedorVideo .videoBomberos:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 250px) and (max-width: 884px) {
  /*RESPONSIVE INDEX*/
  .backgroundMain .tituloMain, .backgroundMain .subtituloMain {
    font-size: 2.5rem;
    padding-top: 80px;
  }
  .backgroundMain .subtituloMain {
    font-size: 1rem;
    padding-top: 20px;
  }
  .posicionHeader {
    position: relative;
  }
  .contenedorVideo .videoBomberos {
    margin-bottom: 50px;
    width: 70%;
  }
}
/*NOSOTROS*/
.contenedorMain {
  margin: 0;
}

.contenedorParrafo .cuartel {
  padding-bottom: 50px;
  padding-left: 50px;
}
.contenedorParrafo .cuartel .imagenCuartel {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-delay: 0.8;
  animation-iteration-count: initial;
}
.contenedorParrafo .parrafosNosotros {
  margin: 0;
  padding-top: 50px;
}
.contenedorParrafo .parrafosNosotros .parrafo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: justify;
  margin: 0;
}
.contenedorParrafo .parrafosNosotros .parrafo span {
  color: rgb(233, 74, 0);
  font-weight: 500;
}

@keyframes aparecer {
  0% {
    transform: translateX(-90px);
    opacity: 0;
    filter: blur(80%);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0%);
  }
}
/*NOSOTROS RESPONSIVE*/
@media screen and (min-width: 250px) and (max-width: 884px) {
  .backgroundMain {
    margin: 0;
  }
  .contenedorParrafo {
    padding: 0;
  }
  .contenedorParrafo .cuartel {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    margin: 0;
  }
  .contenedorParrafo .cuartel img {
    width: 350px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 20px;
    margin: 0;
  }
  .contenedorParrafo .parrafosNosotros {
    padding-left: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contenedorParrafo .parrafosNosotros .parrafo {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
  }
}
/*COLABORA*/
.contenedorTextoUnite {
  padding-bottom: 40px;
}
.contenedorTextoUnite .textoUnite {
  text-align: center;
  font-family: "Hind", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}
.contenedorTextoUnite .textoUnite .h4 {
  padding-bottom: 60px;
}

.botones {
  height: 400px;
  width: 400px;
  border-radius: 40px;
}

.anclaBotonMp {
  padding-right: 80px;
  padding-bottom: 50px;
}
.anclaBotonMp .botonMp {
  background-image: url(../assets/img/mercadopago.png);
  animation-name: aparecerMp;
  animation-duration: 2s;
  animation-delay: 0.8;
  animation-iteration-count: initial;
}
.anclaBotonMp .botonMp:hover {
  box-shadow: -2px 1px 21px 12px rgba(242, 238, 238, 0.75);
  -webkit-box-shadow: -2px 1px 21px 12px rgba(242, 238, 238, 0.75);
  -moz-box-shadow: -2px 1px 21px 12px rgba(242, 238, 238, 0.75);
}
.anclaBotonMp .botonMp:active {
  box-shadow: -15px -1px 125px 30px rgba(117, 43, 43, 0);
  -webkit-box-shadow: -15px -1px 125px 30px rgba(117, 43, 43, 0);
  -moz-box-shadow: -15px -1px 125px 30px rgba(117, 43, 43, 0);
}

.cafecito {
  padding-bottom: 50px;
}
.cafecito .botonCafecito {
  background-image: url(../assets/img/cafecito.png);
  animation-name: aparecerCa;
  animation-duration: 2s;
  animation-delay: 0.8;
  animation-iteration-count: initial;
}
.cafecito .botonCafecito:hover {
  box-shadow: -2px 1px 21px 12px rgba(242, 238, 238, 0.75);
  -webkit-box-shadow: -2px 1px 21px 12px rgba(242, 238, 238, 0.75);
  -moz-box-shadow: -2px 1px 21px 12px rgba(242, 238, 238, 0.75);
}
.cafecito .botonCafecito:active {
  box-shadow: -15px -1px 125px 30px rgba(117, 43, 43, 0);
  -webkit-box-shadow: -15px -1px 125px 30px rgba(117, 43, 43, 0);
  -moz-box-shadow: -15px -1px 125px 30px rgba(117, 43, 43, 0);
}

@keyframes aparecerMp {
  0% {
    transform: translateX(-90px);
    opacity: 0;
    filter: blur(80%);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0%);
  }
}
@keyframes aparecerCa {
  0% {
    transform: translateX(90px);
    opacity: 0;
    filter: blur(80%);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    filter: blur(0%);
  }
}
@media screen and (min-width: 250px) and (max-width: 884px) {
  /*COLABORA RESPONSIVE*/
  .botones {
    height: 200px;
    width: 200px;
  }
  .botonCafecito {
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .backgroundMain {
    margin: 0;
  }
  .backgroundMain .DosBotones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .backgroundMain .botonUno {
    padding-right: 0;
  }
  .backgroundMain .botonUno .anclaBotonMp {
    padding: 0;
    padding-bottom: 20px;
  }
  .backgroundMain .botonUno .anclaBotonMp .botonMp {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.contenedorForm {
  margin: 0;
}

.porqueUnirse {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: justify;
  margin: 0;
  width: 100%;
}
.porqueUnirse span {
  color: rgb(233, 74, 0);
  font-weight: 500;
}

.formularioCompleto {
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 0px;
  margin: 0;
}
.formularioCompleto .input {
  font-family: "Hind", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  width: 400px;
  border-radius: 5px;
}
.formularioCompleto .textarea {
  padding-bottom: 50px;
  width: 600px;
  resize: none;
}

.resetSend {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 20px;
}
.resetSend .limpiar, .resetSend .enviar {
  font-family: "Hind", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #d30000;
  color: white;
  border-radius: 10px;
  padding: 20px;
  text-transform: uppercase;
}
.resetSend .limpiar:active, .resetSend .enviar:active {
  color: #d30000;
  background-color: white;
}
.resetSend .limpiar:hover, .resetSend .enviar:hover {
  box-shadow: 0px 2px 26px 3px rgba(237, 13, 13, 0.75);
  -webkit-box-shadow: 0px 2px 26px 3px rgba(237, 13, 13, 0.75);
  -moz-box-shadow: 0px 2px 26px 3px rgba(237, 13, 13, 0.75);
}
.resetSend .enviar {
  /*USE EXTEND EN UNITE PARA UNO DE LOS BOTONES*/
  background-color: rgb(3, 204, 20);
}
.resetSend .enviar:active {
  color: rgb(3, 204, 20);
  background-color: white;
}
.resetSend .enviar:hover {
  box-shadow: 0px 2px 26px 3px rgba(36, 252, 55, 0.75);
  -webkit-box-shadow: 0px 2px 26px 3px rgba(36, 252, 55, 0.75);
  -moz-box-shadow: 0px 2px 26px 3px rgba(36, 252, 55, 0.75);
}

.divMaps {
  padding-bottom: 40px;
  padding-top: 50px;
}
.divMaps .maps {
  height: 20vh;
  width: 50%;
  border-radius: 10px;
}

/*UNITE FORMULARIO RESPONSIVE*/
@media screen and (min-width: 250px) and (max-width: 884px) {
  .porqueUnirse {
    padding-left: 20px;
    padding-right: 20px;
  }
  .formularioCompleto {
    background-color: transparent;
  }
  .formularioCompleto .nombreYApellido {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .formularioCompleto .mailyTelefono {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .formularioCompleto .textarea {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .formularioCompleto .input {
    width: 300px;
  }
  .divMaps {
    margin: 0;
    margin-left: 10px;
  }
  .divMaps .maps {
    width: 70%;
  }
}
/*GALERIA*/
.zindex {
  z-index: 10;
}

.tamanioCarrusel {
  width: 60%;
  padding-bottom: 50px;
  margin: 0 auto;
}

.textoGaleria {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 0px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-top: 20px;
  text-align: justify;
  margin: 0;
}
.textoGaleria span {
  color: rgb(233, 74, 0);
  font-weight: 500;
}

@media screen and (min-width: 250px) and (max-width: 884px) {
  /*GALERIA RESPONSIVE*/
  .tamanioCarrusel {
    width: 100%;
    padding-top: 30px;
  }
}
/*FOOTER*/
.backgroundFooter {
  background-image: url(../assets/img/ola.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: rgb(105, 0, 0);
  position: relative;
  height: 20vh;
}
.backgroundFooter .footerLeftInfo {
  color: white;
  font-family: "Biryani", sans-serif;
  font-style: normal;
  font-weight: 200;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  width: 100%;
  line-height: 5px;
}
.backgroundFooter .redes {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0;
  /*UTILICE MIXIN EN REDES*/
  /*animacion footer*/
}
.backgroundFooter .redes .iconos {
  animation-name: flotar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.backgroundFooter .redes .facebook {
  animation-delay: 0;
}
.backgroundFooter .redes .instagram {
  animation-delay: 0.5s;
}
.backgroundFooter .redes .tiktok {
  animation-delay: 1s;
}
.backgroundFooter .redes .tamanioIcon {
  width: 90px;
}
.backgroundFooter .contenedorFooterLogo {
  width: 10%;
  margin-left: 20%;
}
.backgroundFooter .contenedorFooterLogo .logoCuartelFooter {
  width: 70px;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 250px) and (max-width: 884px) {
  /*FOOTER RESPOMSIVE*/
  .backgroundFooter {
    height: 50vh;
  }
  .backgroundFooter .footerLeftInfo {
    justify-content: center;
    line-height: 20px;
  }
  .backgroundFooter .redes {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    /*UTILICE MIXIN EN REDES RESPONSIVE*/
  }
  .backgroundFooter .redes .tamanioIcon {
    width: 55px;
  }
  .backgroundFooter .contenedorFooterLogo {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-left: 0;
    width: 100%;
  }
  .backgroundFooter .contenedorFooterLogo .logoCuartelFooter {
    width: 50px;
    align-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
