/*COLABORA*/



.contenedorTextoUnite{
    padding-bottom: 40px;
    .textoUnite{
        text-align: center;
        font-family: $fuente-principal;
        font-weight: bold;
        font-size: 1.3rem;
        color: map-get($mapa-colores, color-white);
            .h4{
                padding-bottom: 60px;
            }    
    
    }
}

.botones{
    height: 400px;
    width: 400px;
    border-radius: 40px;
}

.anclaBotonMp{
    padding-right: 80px;
    padding-bottom: 50px;
    .botonMp{
        background-image: url(../assets/img/mercadopago.png);
        
    }
    
}

.cafecito{
    padding-bottom: 50px;
    .botonCafecito{
        background-image: url(../assets/img/cafecito.png);
        
        
    }
}




@media screen and (min-width: 250px) and (max-width: 884px){


/*COLABORA RESPONSIVE*/


.botones{
    height: 200px;
    width: 200px;
}
.botonCafecito{
    padding-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.backgroundMain{
    margin: 0;
    .DosBotones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .botonUno{
        padding-right: 0;
        .anclaBotonMp{
            padding: 0;
            padding-bottom: 20px;
            .botonMp{
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
}