
/*FOOTER*/

.backgroundFooter{ 
   
    background-image: url(../assets/img/ola.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color:map-get($mapa-colores, color-bordo );
    position: relative;
    height: 20vh;
    .footerLeftInfo {   
        
        color: map-get($mapa-colores, color-white);
        font-family: $fuente-segunda;  
        font-style: normal;
        font-weight: 200;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 10px;
        width: 100%;
        line-height: 5px;}
    .redes{
        @include contenedorFlexible( space-evenly , 50px, 50px, 0);  /*UTILICE MIXIN EN REDES*/
            
        /*animacion footer*/
        
            .iconos{
            animation-name: flotar;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;

            }
            
            
            .facebook{
                animation-delay: 0;
            }
            .instagram{
                animation-delay: 0.5s;
            }
            .tiktok{
                animation-delay: 1s;
            }
        
        .tamanioIcon{
            width: 90px;
        }

        
        
    }
    
    
    .contenedorFooterLogo {
        width: 10%;
        margin-left:20%; 
        .logoCuartelFooter{
            width: 70px;
            
        }
    }
    }

    @keyframes flotar {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-10px);
        }
        100%{
            transform: translateY(0);
        }
    }



@media screen and (min-width: 250px) and (max-width: 884px)  {  

/*FOOTER RESPOMSIVE*/

.backgroundFooter{
    height: 50vh;
    .footerLeftInfo{
        justify-content: center;
        line-height: 20px;
    }
    .redes{
        @include contenedorFlexible(space-between, 30px, 30px, 20px); /*UTILICE MIXIN EN REDES RESPONSIVE*/
        .tamanioIcon{
            width: 55px;
            
        }
    }
    .contenedorFooterLogo{
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        margin-left: 0;
        width: 100%;
        .logoCuartelFooter{
            width: 50px;
            align-items: center;
        
        }
    }
}







}