
/*GALERIA*/

.tamanioCarrusel{
    width: 60%;
    padding-bottom: 50px;
    margin: 0 auto;
    
}




@media screen and (min-width: 250px) and (max-width: 884px){


/*GALERIA RESPONSIVE*/

.tamanioCarrusel{
    width: 100%;
    padding-top: 30px;
    
}


}