.backgroundMain{
    background-image:url(../assets/img/fondoBombero.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
    background-attachment: fixed;
    .tituloMain{
        font-family: $fuente-principal;
        font-size: 7rem;
        font-weight: 700;
        color:map-get($mapa-colores, color-white);
        margin-bottom: 10px;
        text-align: center;
        padding-top: 200px;
        
        }
    
    .subtituloMain{
        @extend .tituloMain;
        font-size: 4rem;
        color: map-get($mapa-colores, color-white);
        margin-top: 10px;        
        text-align: center;
        padding-top: 20px;
            
        }
        
    }    
    
.contenedorVideo {
    width: 100%;
    object-fit: cover;              
    .videoBomberos{ 
        width: 50%;
        border-radius: 20px;
        box-shadow: -1px 2px 30px 11px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 30px 11px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 30px 11px rgba(0,0,0,0.75);
        } }


@media screen and (min-width: 250px) and (max-width: 884px){

    /*RESPONSIVE INDEX*/

    
.backgroundMain{
    .tituloMain{ 
        font-size: 2.5rem;
        padding-top: 80px
    
     }
    
     .subtituloMain{ font-size: 1rem;
        padding-top: 20px;
    }
}
.posicionHeader{position: relative;}

 .contenedorVideo{
    .videoBomberos{ 
        margin-bottom: 50px;
        width: 70%;}     }
    }