/*NOSOTROS*/

.contenedorMain{ 
    margin: 0;
}
.contenedorParrafo{
    .cuartel{
        padding-bottom: 50px;
        padding-left: 50px;
        .imagenCuartel{
            animation-name: aparecer;
            animation-duration: 2s;
            animation-delay: 0.8;
            animation-iteration-count: initial;

        }
        
        
        
    }
.parrafosNosotros{
    margin: 0;
    padding-top: 50px;
    .parrafo{
        color: map-get($mapa-colores, color-white );
        font-family: $fuente-roboto;
        font-size: 1.1rem;
        font-weight: 400;
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: justify;
        margin: 0;
        span{
            color: map-get($mapa-colores, color-naranjaClaro );
            font-weight: 500;
       
        }
    }
}
}


@keyframes aparecer {
    0%{
        transform: translateX(-90px);
        opacity: 0;
        filter: blur(80%);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        filter: blur(0%);
    }
}

/*NOSOTROS RESPONSIVE*/

@media screen and (min-width: 250px) and (max-width: 884px){

.backgroundMain{
    margin: 0;
    
}

.contenedorParrafo{
    padding: 0;
    .cuartel{display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        margin: 0;
        
            img{ 
                width: 350px;
                justify-content: center;
                align-items: center;
                margin-left: 0px;
                padding-left: 20px;
                margin: 0;
                
            
            }
 
        }
    
    .parrafosNosotros{
        padding-left: 20px;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .parrafo{
            padding-right: 10px;
            padding-left: 10px;
            margin: 0;
        }
    }    
}
  
     
    
    
    
    
}