/* TITULOS DE TODOS LOS HTML*/

.titulo{ 
    text-align: center;
    font-family: $fuente-principal;
    font-weight: 700;
    color: map-get($mapa-colores, color-white);
    padding-top: 120px;
    font-size: 5rem;
     
 } 

/*RESPONSIVE*/


@media screen and (min-width: 250px) and (max-width: 884px){

 .titulo{ font-size: 2rem;}

}