@import "fonts.scss";
@import "mixin.scss";
@import "variables.scss";
@import "utilitarios.scss";
@import "header.scss";
@import "mainIndex.scss";
@import "nosotros.scss";
@import "colabora.scss";
@import "unite.scss";
@import "galeria.scss";
@import "footer.scss";
@import "error.scss";
